.contact .contents{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    background-color: var(--black);
    height: 50rem;
}
.contact .contents iframe{
    height: 100%;
    flex: 1 1 40rem;
    object-fit: cover;
}
.contact .contents form{
    height: 100%;
    flex: 1 1 40rem;
    text-align: center;
    padding: 5rem 2rem;
}
.contact .contents form h3{
    text-transform: uppercase;
    color: var(--letra);
    font-size: 3.5rem;
    padding: 1.5rem 0;
    font-family: var(--fonte-logo);
}
.contact .contents form .input-box{
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
    border: var(--border);
    background: var(--black);
}
.contact .contents form .input-box span{
    color: var(--letra-leve);
    font-size: 2rem;
    padding-left: 2rem;
    background: var(--black);
}
.contact .contents form .input-box input{
    background-color: var(--black);
    text-transform: none;
    color: var(--letra);
    width: 100%;
    padding: 2rem;
    font-size: 2rem;
}
