.review .wrapper .review-card{
    border: var(--border);
    text-align: center;
    padding: 3rem 2rem;
}
.review .wrapper .review-card img{
    height: 4rem;
}
.review .wrapper .review-card .perfil{
    height: 7rem;
    width: 7rem;
    object-fit: cover;
    border-radius: 50%;
}
.review .wrapper .review-card:hover .perfil{
    transform: scale(1.1);
} 
.review .wrapper .review-card  p{
    font-size: 2.5rem;
    line-height: 1.5;
    color: var(--letra-leve);
    padding: 2rem 0;
}
.review .wrapper .review-card:hover p{
    color: var(--letra);
} 
.review .wrapper .review-card h3{
    padding: 1rem 0;
    font-size: 3rem;
    font-family: var(--fonte-logo);
    color: var(--letra);
    text-shadow: 2px 2px 0 var(--black), -2px -2px 0 var(--black), -2px 2px 0 var(--black), 2px -2px 0 var(--black);
}
.review .wrapper .review-card .stars i{
    font-size: 1.5rem;
    color: var(--botao);
    padding: .8rem 0;
    text-shadow: 1px 1px 0 var(--letra);
}